header{
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;   
    color: rgb(11, 51, 86);
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 7%;
    z-index: 50;
    transition: all 0.3s linear;
}

header > div{
    display: flex;
    align-items: center;
}

.header-div-1{
    gap: 10px;
}

.header-div-2{
    gap: 35px;
    height: 40px;
}

.header-div-2 > *{
    height: 100%;
}

.sight{
    font-size: 20px;
    font-weight: 700;
}

.logo{
    height: 40px;
    width: 40px;
}

.div-2-div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.div-2-div > *{
    height: 100%;
}

.ensmde{
    display:flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
}

.ensmde > div{
    display:flex;
    flex-direction: column;
    position: relative;
}

.header-ddcontent{
    position: absolute;
    display: none;
    z-index: 1;
    background-color: #fff;
    min-width: 150px;
    max-width: 210px;
    width: max-content;
    height: max-content;
    text-align: center;
    flex-direction: column;
    align-self: center;
    top: 40px;
    gap: 5px;
    color: #0b3356;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.ensmde > div > span:hover .header-ddcontent{
    display: flex !important;
}

.header-ddcontent > span > a{
    height: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 4px solid #0b3356;
}

.header-ddcontent > span > a:hover{
    border-color: #428bca;
    color: #428bca;
    background-color: #efe8e8;
}

.ensmde > *{
    cursor: pointer;
}

.header-span{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(11, 51, 86);
}

.div-end-div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
}

.div-end-div > *{
    cursor: pointer;
}

.div-end-div > span > a{
    display: flex;
    align-items: center;
}

.active{
    background-color:rgb(66,139,202);
    color:white;
}

.active .change{
    color: white !important;
}